/* =====================================services============================================= */

.service_droupdown {
  height: 300px;
  overflow-y: scroll;
}

.service_desc {
  height: 100px;
  overflow-y: scroll;
}

.service_desc::-webkit-scrollbar {
  width: 0;
}

/* =====================================events============================================= */

.events_desc {
  height: 180px;
  overflow-y: scroll;
}
.events_desc::-webkit-scrollbar {
  width: 0;
}

.qr_code {
  display: flex;
  gap: 20px;
  align-items: center;
}
